{
  "rules": {
    "space-before-function-paren": [
      2,
      {
        "anonymous": "always",
        "named": "never"
      }
    ],
    "no-use-before-define": [2, "nofunc"],
    "comma-dangle": [0],
    "no-underscore-dangle": [0]
  },
  "env": {
    "node": true,
    "jest": true
  },
  "parserOptions": {
    "ecmaVersion": 10,
    "sourceType": "module"
  },
  "extends": ["prettier", "eslint:recommended"]
}
