version: '3'
services:
  web:
    build: .
    ports:
      - "3000:3000"
    environment:
      MONGO_HOST: "mongodb://mongo:27017/"
      MONGO_DB_NAME: "${MONGO_DB_NAME}"
    restart: on-failure
    depends_on:
      - mongo
    links:
      - mongo
  mongo:
    image: mongo
    ports:
      - "27018:27017"
    volumes:
      - mongo-volume:/data/db
volumes:
  mongo-volume: